/* Main page */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  letter-spacing: 0.02em;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}

header {
  background-color: #ffffff;
}

/* Logo*/
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.logo-part1 {
  color: #4d5ae5;
}
.logo-part2 {
  color: #2e2f42;
}

.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
}

address: {
  font-size: 16px;
  line-height: 24px;
}

/*Hero image (Figma)/Section 1 (VSC)*/
.section1 {
  background-color: #2e2f42;
}

.button-order-service {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/*Section 1 (Figma)/Section 2 (VSC)*/
.section2 {
  background-color: #ffffff;
}

.section2-p {
  font-size: 16px;
  line-height: 24px;
}

/* Section 2 (Figma)/Section 3 (VSC)*/

/* Section 3 (Figma)/Section 4 (VSC)*/
.section4 {
  background-color: #f4f4fd;
}
